@media (max-width: 980px) {
    .home {
        grid-template-columns: 1fr 1fr;
    }

    .home h1 {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 6rem;
    }

    .social-media li img{
        max-width: 50px;
    }
}

@media (max-width: 800px) {
    /*--Menu*/
    .menu-mobile {
        display: flex;
        background-color: #fff;
        border: none;
        align-items: center;
        cursor: pointer;
    }

    .header-menu {
        display: block;
        position: absolute;
        width: 35%;
        right: 20px;
        flex-direction: column;
        gap: 0;
        visibility: hidden;
        z-index: 1000;
        background: #FFF;
        border-radius: 4px;
    }

    .header-menu a {
        display: block;
        padding: 15px 0;
        margin-left: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    nav.active .header-menu{
        visibility: visible;
    }

    .picture-perfil {
        margin: 0 auto;
    }

    .destaque {
        text-align: center;
    }
    
    .home {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home h1::before {
        content: '';
        width: 100%;
        height: 10px;
        left: 0;
    }

    .home, .experience, .qualification .container, .footer .container  {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .home .subtitle, .experience .subtitle, .qualification .container .subtitle {
        display: block;
        font-size: 4rem;
        word-break: normal;
        max-width: 100%;
        margin: 0 auto;
    }

    .social-media {
        gap: 5px;
    }

    .social-media li a{
        opacity: 1;
    }

    .experience-description, .qualification-description, .footer-contact{
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .qualification .container::after {
        display: none;
    }

    .courses h3, .languages h3{
        font-size: 0.875rem;
        line-height: 1.4;
        color: #8f8f8f;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-left: 35px;
        position: relative;
    }

    .courses h3::before, .languages h3::before {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        left: -36px;
        top: -4px;
    }

    .courses li, .languages li {
        line-height: 1.9;
    }

    .university-list {
        margin-bottom: 40px;
    }
}

@media(max-width: 420px){
    .picture-perfil {
        width: 60%;
        margin: 0 auto;
    }

    .home, .experience, .qualification .container, .company {
        grid-template-columns: 1fr;        
    }

    .destaque{
        text-align: center;
    }

    .home h1::before {
        content: '';
        width: 100%;
        margin: 0 auto; 
    }  

    .home .subtitle, .experience .subtitle, .qualification .container .subtitle{
        font-size: 2.5rem;
    }

    .experience-description, .qualification-description, .footer-contact{
        font-size: 1.1rem;
    }

    .qualification .container, .footer .container {
        gap: 40px;
    }
    
    .social-media {
        gap: 5px;
    }

    .social-media li a{
        opacity: 1;
    }
}
